<h1>Products Inventory</h1>
<ul>
<% @products.each do |x| %>

    <li>
      <p>
      Name:
        <%= x.name %>
      </p>

      <p>
      Description
        <%= x.description %>
      </p>

      <p>
      Price
        <%= x.price_in_cents %>
      </p>
    </li>

<% end %>
</ul>
